<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first, "First Name" %><br />
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last, "Last Name" %><br />
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.phone_field :phone %>
  </div>
  <div class="field">
    <%= f.hidden_field :shuttle_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.select :location_id, options_from_collection_for_select(@locations, 'id', 'name') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
